<header>
    <nav data-menu class="menu">
        <div class="menu__column">
            <div class="menu__banner">
                <h2 class="subtitle menu__title">
                    GALACTIC Empire
                </h2>
                <div class="menu__text">
                    Security in strength. Order in obedience.
                </div>
            </div>
            <div class="menu__footer">
                <ul class="contacts">
                    <li class="contacts__item contacts__holo">
                        <span>
                            Hololink ID:
                        </span>
                        <span>
                                937-99-92
                        </span>
                    </li>
                    <li class="contacts__item contacts__galaxy">
                        <span>
                            Address:
                        </span>
                        <span>
                                Far far away Galaxy, Corusca sector, Coruscant, Empire Headquarters
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="menu__menu">
            <li class="menu__item">
                <a href="#about" class="subtitle menu__link">
                    ABOUT US
                </a>
            </li>
            <li class="menu__item">
                <a href="#achievements" class="subtitle menu__link">
                    ACHIEVEMENTS
                </a>
            </li>
            <li class="menu__item">
                <a href="#forces" class="subtitle menu__link">
                    FORCES
                </a>
            </li>
            <li class="menu__item">
                <a href="#academys" class="subtitle menu__link">
                    ACADEMYS
                </a>
            </li>
            <li class="menu__item">
                <a href="#equipment" class="subtitle menu__link">
                    EQUIPMENT
                </a>
            </li>
            <li class="menu__item">
                <a href="#vehicles" class="subtitle menu__link">
                    VEHICLES
                </a>
            </li>
            <li class="menu__item">
                <a href="#reviews" class="subtitle menu__link">
                    REVIEWS
                </a>
            </li>
            <li class="menu__item">
                <a href="#faq" class="subtitle menu__link">
                    FAQ
                </a>
            </li>
            <li class="menu__item">
                <a href="#contact" class="subtitle menu__link">
                    CONTACT
                </a>
            </li>
        </ul>
    </nav>
    <button data-burger class="burger">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>